APP_NAME="Flask Template"
APP_ABBR="FT"
SITE_THEME="simplecompact"
OAUTH2_GOOGLE_CLIENT_ID=""
OAUTH2_GOOGLE_CLIENT_SECRET=""
TWILIO_ACCOUNT_SID=""
TWILIO_AUTH_TOKEN=""
TWILIO_SERVICE_SID=""
FROM_PHONE_NUMBER=""
FROM_EMAIL=""
SENDGRID_API_KEY=""
SENDGRID_EMAIL_TEMPLATE_ID=""