APP_NAME="Flask Template"
APP_ABBR="FT"
SITE_THEME="light"
APP_VERSION="1.0.0"
ADMIN_NAME="Joe Smith"
ADMIN_EMAIL="email@example.com"
ADMIN_PASSWORD="not_secure_123"
OAUTH2_GOOGLE_CLIENT_ID=""
OAUTH2_GOOGLE_CLIENT_SECRET=""
TWILIO_ACCOUNT_SID=""
TWILIO_AUTH_TOKEN=""
TWILIO_SERVICE_SID=""
AWS_ACCESS_KEY_ID=""
AWS_SECRET_ACCESS_KEY=""
S3_BUCKET_NAME=""
S3_UPLOAD_ENDPOINT_URL=""
S3_PUBLIC_ENDPOINT_URL=""
FROM_PHONE_NUMBER="+11234567890"
FROM_EMAIL="noreply@your-domain.com"
SENDGRID_API_KEY=""
SENDGRID_EMAIL_TEMPLATE_ID=""
FLASK_ENV="development"
DATABASE_URL=""
SECRET_KEY=""
SENTRY_DSN=""
ADMIN_PANEL="false"