{% extends 'system-settings/base.html' %}
{% block settings_content %}
    <form action="" method="post">
        {{ form.csrf_token }}

        {{ form.title.label(class="label mt-8") }}
        {{ form.title(class="input mt-1 w-full", id="title") }}
        {% for error in form.title.errors %}
            <p class="form-error">{{ error }}</p>
        {% endfor %}

        {{ form.description.label(class="label mt-4") }}
        {{ form.description(class="input mt-1 w-full", id="description") }}
        {% for error in form.description.errors %}
            <p class="form-error">{{ error }}</p>
        {% endfor %}

        <div class="mt-4">
            {{ form.users.label(class="label") }}

            <div class="mt-2 divide-y divide-base-300 rounded-box border border-base-300 bg-base-100">
                {% for value, label, checked, render_kw in form.users.iter_choices() %}
                    <label class="flex items-center gap-3 p-4 hover:bg-base-200/40">
                        <input type="checkbox"
                               name="{{ form.users.name }}"
                               value="{{ value }}"
                               class="checkbox checkbox-primary"
                               {% if checked %}checked{% endif %}>

                        <span class="text-sm font-medium">
                    {{ label }}
                </span>
                    </label>
                {% endfor %}
            </div>

            {% for error in form.users.errors %}
                <p class="form-error">{{ error }}</p>
            {% endfor %}
        </div>

        <button type="button" class="btn btn-soft btn-error mt-4" onclick="delete_modal.showModal()" {% if not current_user.can('groups.delete') %}disabled{% endif %}>Delete Group</button>

        {{ form.submit(class='btn btn-primary text-neutral-content mt-8 w-full') }}
    </form>

    <dialog id="delete_modal" class="modal modal-bottom sm:modal-middle">
        <div class="modal-box">
            <h3 class="text-lg font-bold">Warning</h3>
            <p class="py-4">Are you sure you want to delete {{ group.title }}? This action can not be undone.</p>
            <div class="modal-action">
                <form method="dialog">
                    <button class="btn">Cancel</button>
                </form>
                <a class="btn btn-error" href="{{ url_for('core.delete_group', uuid36=group.uuid36) }}">Delete Group</a>
            </div>
        </div>
    </dialog>

{% endblock %}
