<!DOCTYPE html>
<html lang="en" data-theme="{{ session.get('theme', site_theme)}}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% if title %}
        <title>{{ title }} &#8212; {{ app_abbr }}</title>
    {% else %}
        <title>{{ app_name }}</title>
    {% endif %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/output.css') }}">
    <script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.15.2/dist/cdn.min.js"></script>
    <script defer src="https://cdn.jsdelivr.net/npm/htmx.org@2.0.8/dist/htmx.min.js" integrity="sha384-/TgkGk7p307TH7EXJDuUlgG3Ce1UVolAOFopFekQkkXihi5u/6OCvVKyz1W+idaz" crossorigin="anonymous"></script>
    <script defer src="{{ url_for('static', filename='dist/uploader.js') }}" type="module"></script>
    <script src="{{ url_for('static', filename='js/notifications.js') }}"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='dist/uploader.css') }}">
    <style>
        [x-cloak] { display: none !important; }
    </style>
    {% block head %}{% endblock %}
</head>

<body class="min-h-screen flex flex-col">

{% include 'includes/banner.html' %}
{% include 'includes/header.html' %}

{% block outside %}{% endblock %}
{% if self.content() | trim %}
    <main class="min-h-full px-4 py-8 md:px-12 md:py-16">
        {% block content %}{% endblock %}
    </main>
{% endif %}

</body>
</html>
