{% extends 'base.html' %}
{% block content %}

    <div class="centered-container">
        <div class="card bg-base-300 w-xl max-w-xl">
            <div class="card-body">
                <h3 class="h3 text-base-content text-center">Redirect Requested</h3>
                <p class="support text-base-content/80 text-center">{{ url }}</p>

                <p class="body text-base-content mt-4 mb-3">You are being redirected to an external website. This site may contain malware or try to steal your information. If you know the URL above is safe, click the button below to continue.</p>


                <div class="mt-6">
                    <a class="btn w-full btn-accent btn-soft" href="{{ url }}">
                        Continue to External Website
                        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" class="size-4 ml-2">
                            <path fill-rule="evenodd"
                                  d="M8.22 5.22a.75.75 0 0 1 1.06 0l4.25 4.25a.75.75 0 0 1 0 1.06l-4.25 4.25a.75.75 0 0 1-1.06-1.06L11.94 10 8.22 6.28a.75.75 0 0 1 0-1.06Z"
                                  clip-rule="evenodd"/>
                        </svg>
                    </a>

                    <a href="{{ url_for('core.index') }}" class="btn w-full bg-white text-black border-[#e5e5e5] mt-2">
                        Cancel
                    </a>
                </div>

            </div>
        </div>
    </div>

{% endblock %}
