{% extends 'account-settings/base.html' %}
{% block settings_content %}

    <form action="" method="post">
        {{ form.csrf_token }}

        {{ form.current_password.label(class="label mt-8") }}
        {{ form.current_password(class="input mt-1 w-full", id="current_password", type="password") }}
        {% for error in form.current_password.errors %}
            <p class="form-error">{{ error }}</p>
        {% endfor %}

        {{ form.new_password.label(class="label mt-4") }}
        {{ form.new_password(class="input mt-1 w-full", id="new_password", type="password") }}
        {% for error in form.new_password.errors %}
            <p class="form-error">{{ error }}</p>
        {% endfor %}

        {{ form.confirm_password.label(class="label mt-4") }}
        {{ form.confirm_password(class="input mt-1 w-full", id="confirm_password", type="password") }}
        {% for error in form.confirm_password.errors %}
            <p class="form-error">{{ error }}</p>
        {% endfor %}

        {{ form.submit(class='btn btn-neutral text-neutral-content mt-8 w-full') }}
    </form>

{% endblock %}