{% extends 'base.html' %}
{% block content %}

    <div class="centered-container">
        <div class="card bg-base-300 w-xl max-w-xl">
            <div class="card-body">
                <h3 class="h3 text-base-content text-center">Enable TOTP</h3>
                <p class="support text-base-content/80 text-center">To enable 2FA via TOTP, please scan the QR code below with
                an authenticator app. Then, hit next to verify and enable it.</p>

                <img src="{{ qrcode(binding_url, border=2)  }}" class="mt-8 w-80 h-auto mx-auto" alt="TOTP QR Code">

                <a class="btn btn-neutral text-neutral-content mt-8 w-full" href="{{ url_for('core.enable_totp', verify=True) }}">Next</a>

            </div>
        </div>
    </div>

{% endblock %}
