{% extends 'account-settings/base.html' %}
{% block settings_content %}

    <ul class="list">
    {% for record in records.items %}
        <li class="list-row">
            <div>
                <time x-data="{date: new Date($el.innerText)}" x-text="date.toLocaleString()">{{ record.occurred_at }}</time>
                <div class="form-help">via {{ record.login_token.auth_source }} from {{ record.ip_address }}</div>
            </div>
            <div></div>
            <div class="tooltip" hx-get="{{ url_for('core.device_information', uuid36=record.user_device.uuid36) }}" hx-trigger="mouseenter once" hx-target="#device-{{ record.uuid36 }}" hx-swap="innerHTML">
                <div id="device-{{ record.uuid36 }}" class="tooltip-content">Loading device information...</div>
                {% if record.user_device.device_trusted %}
                    <span class="badge badge-success">Trusted Device</span>
                {% else %}
                    <span class="badge badge-warning">Untrusted Device</span>
                {% endif %}
            </div>
        </li>
    {% endfor %}
    </ul>

    <div class="join mt-8">
        <a class="join-item btn btn-sm btn-neutral btn-outline" href="{{ url_for('core.login_history', page=records.prev_num) }}" {% if not records.has_prev %}disabled{% endif %}>Previous</a>
        <a class="join-item btn btn-sm btn-neutral btn-outline" href="{{ url_for('core.login_history', page=records.next_num) }}" {% if not records.has_next %}disabled{% endif %}>Next</a>
    </div>

{% endblock %}