{% extends 'account-settings/base.html' %}
{% block settings_content %}

    <form action="" method="post" class="mt-8">
        {{ form.csrf_token }}

        <div class="overflow-x-auto">
            <table class="table table-auto w-full">
                <thead>
                <tr>
                    <th></th>
                    <th>Email</th>
                    <th>Text</th>
                </tr>
                </thead>
                <tbody>
                <tr class="hover:bg-base-300">
                    <td class="max-w-96">
                        <p class="standard font-medium text-base-content">Security Alerts</p>
                        <p class="form-help">Changes such as password resets, phone number updates, new device logins, etc.</p>
                    </td>
                    <td>
                        {{ form.security_alerts_email(class="toggle", id="security_alerts_email", type="checkbox") }}
                    </td>
                    <td>
                        {{ form.security_alerts_text(class="toggle", id="security_alerts_text", type="checkbox") }}
                    </td>
                </tr>
                </tbody>
            </table>
        </div>

        <p class="support text-base-content/80 mt-4">Looking for past notifications? <a class="link" href="{{ url_for('core.all_notifications') }}">View All Notifications</a></p>

        {{ form.submit(class='btn btn-neutral text-neutral-content mt-8 w-full') }}

    </form>

{% endblock %}