{% extends 'account-settings/base.html' %}
{% block settings_content %}

    <form action="" method="post">
        {{ form.csrf_token }}

        <div class="mt-4">
            {{ form.two_factor_auth(class="checkbox", id="two_factor_auth", type="checkbox") }}
            {{ form.two_factor_auth.label(class="label") }}
            <p class="form-help">When logging in with a password, also require another form of authentication.</p>
        </div>

        <div class="mt-4">
            {{ form.password_breach_check(class="checkbox", id="password_breach_check", type="checkbox") }}
            {{ form.password_breach_check.label(class="label") }}
            <p class="form-help">When logging in, check to determine if your password has been found in a data breach.</p>
        </div>

        <div class="join mt-4">
            <a class="btn btn-sm btn-soft btn-primary join-item" href="{{ url_for('core.change_password') }}">Change Password</a>
            <a class="btn btn-sm btn-soft join-item" href="{{ url_for('core.login_history') }}">Login History</a>
            {% if current_user.totp_verified %}
                <button type="button" class="btn btn-sm btn-outline btn-error join-item" onclick="totp_modal.showModal()">Disable TOTP</button>
            {% else %}
                <a class="btn btn-sm btn-soft join-item" href="{{ url_for('core.enable_totp') }}">Enable TOTP</a>
            {% endif %}
            <button type="button" class="btn btn-sm btn-soft btn-error join-item" onclick="lockdown_modal.showModal()">Lockdown Account</button>
        </div>

        {{ form.submit(class='btn btn-primary text-neutral-content mt-8 w-full') }}
    </form>

    <dialog id="totp_modal" class="modal modal-bottom sm:modal-middle">
        <div class="modal-box">
            <h3 class="text-lg font-bold">Warning</h3>
            <p class="py-4">Are you sure you want to disable TOTP as a two-factor-authentication method?</p>
            <div class="modal-action">
                <form method="dialog">
                    <button class="btn">Cancel</button>
                </form>
                <a class="btn btn-error" href="{{ url_for('core.disable_totp') }}">Disable TOTP</a>
            </div>
        </div>
    </dialog>

    <dialog id="lockdown_modal" class="modal modal-bottom sm:modal-middle">
        <div class="modal-box">
            <h3 class="text-lg font-bold">Warning</h3>
            <p class="py-4">Are you sure you want to lockdown your account? This can only be undone by an administrator.</p>
            <div class="modal-action">
                <form method="dialog">
                    <button class="btn">Cancel</button>
                </form>
                <a class="btn btn-error" href="{{ url_for('core.lockdown') }}">Lockdown</a>
            </div>
        </div>
    </dialog>

{% endblock %}