{% extends 'base.html' %}
{% block content %}

    <div class="flex flex-col justify-center items-center">
        <h1 class="title text-base-content text-center">405</h1>
        <p class="subtitle text-base-content/80 text-center">The attempted method is not allowed.</p>
        {% if error %}
            <div class="mt-8 w-full">
                <div class="mockup-code w-full">
                    <pre><code>{{ error }}</code></pre>
                </div>
            </div>
        {% endif %}
    </div>

{% endblock %}
