{% extends 'base.html' %}
{% block content %}

    <div class="centered-container">
        <div class="card bg-base-300 w-xl max-w-xl">
            <div class="card-body">
                <h3 class="h3 text-base-content text-center">Login with Magic Link</h3>
                <p class="support text-base-content/80 text-center">Please select a delivery method.</p>


                <form action="" method="post">
                    {{ form.csrf_token }}

                    {{ form.method.label(class="label mt-8") }}
                    {{ form.method(class="select mt-1 w-full", id="method") }}
                    {% for error in form.method.errors %}
                        <p class="form-error">{{ error }}</p>
                    {% endfor %}

                    {{ form.submit(class='btn btn-primary text-neutral-content mt-8 w-full') }}
                </form>
            </div>
        </div>
    </div>

{% endblock %}
