{% extends 'base.html' %}
{% block content %}

    <div class="centered-container">
        <div class="card bg-base-300 w-xl max-w-xl">
            <div class="card-body">
                <h3 class="h3 text-base-content text-center">Reset Password</h3>
                <p class="support text-base-content/80 text-center">Please enter a new password for your account.</p>


                <form action="" method="post">
                    {{ form.csrf_token }}

                    {{ form.password.label(class="label mt-8") }}
                    {{ form.password(class="input mt-1 w-full", id="password", type="password") }}
                    {% for error in form.password.errors %}
                        <p class="form-error">{{ error }}</p>
                    {% endfor %}

                    {{ form.confirm_password.label(class="label mt-4") }}
                    {{ form.confirm_password(class="input mt-1 w-full", id="confirm_password", type="password") }}
                    {% for error in form.confirm_password.errors %}
                        <p class="form-error">{{ error }}</p>
                    {% endfor %}

                    {{ form.submit(class='btn btn-neutral text-neutral-content mt-8 w-full') }}
                </form>

            </div>
        </div>
    </div>

{% endblock %}
