{% extends 'base.html' %}
{% block content %}

    <div class="flex flex-1 items-center justify-center bg-base-100">
        <div class="bg-base-300 border-base-300 rounded-box border p-8 w-full max-w-lg">
            <h2 class="h4 text-base-content text-center">Reset Password</h2>
            <p class="support text-base-content/80 text-center">Please enter a new password for your account.</p>


            <form action="" method="post">
                {{ form.csrf_token }}

                {{ form.password.label(class="label mt-8") }}
                {{ form.password(class="input mt-0.5 w-full", id="password", type="password") }}
                {% for error in form.password.errors %}
                    <p class="form-error">{{ error }}</p>
                {% endfor %}

                {{ form.confirm_password.label(class="label mt-4") }}
                {{ form.confirm_password(class="input mt-0.5 w-full", id="confirm_password", type="password") }}
                {% for error in form.confirm_password.errors %}
                    <p class="form-error">{{ error }}</p>
                {% endfor %}

                {{ form.submit(class='btn btn-neutral text-neutral-content mt-4 w-full') }}
            </form>

        </div>
    </div>

{% endblock %}
